<!DOCTYPE html>
<html ng-app="app2" ng-cloak ng-init="person= {fName:'parveen',lName:'arya'}; capitals=[{city: 'jaipur', state:'rajasthan'},{city:'mumbai',state:'maharastra'}]">
<head>
  <base href="/"></base>
  <link rel='stylesheet' type='text/css' href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- <link rel='stylesheet' type='text/css' href="./stylesheetscss/todo.css"> -->


  <title>Tutorial</title>
  <style>
  [ng\:cloak],[ng-cloak], .ng-cloak{
    display:none;
  }
  </style>
</head>
<body>
  <div class="container">

    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="ab/34">about</a></li>

    </ul>
    <br>

  </div>

<div ng-controller="mainCtrl">
  <div ng-controller="subCtrl">
    <p>{{title}}</p>
  </div>
search<input type="text" ng-model="query">
<select ng-model="orderProp">
  <option value="name">alpha</option>
  <option value="age">newest</option>

</select>
  <ul>
    <li ng-repeat="x in movieList | filter:query | orderBy:orderProp">
      <p> title={{x.title}} name={{x.name}}</p>
    </li>
  </ul>

    <span>Title: <input type="text" ng-model="movie.title" ng-blur="validate()"></span>
    <span>Name: <input type="text" ng-model="movie.name"></span>
    <input type="button" value="add" ng-click="addNew()" ng-show="isValid()">

</div>
<a ng-href="ab/124">about</a>
<div ng-view>
</div>

  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="./control/nestedControl.js"></script>
  <!-- <script type="text/javascript" src="./control/aboutControl.js"></script> -->

</body>
</html>
