<html>
<head>

</head>
<body>
<div>
  <h1>upload a file to server</h1>
  <input type="file" id="file">

  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/socket.io-stream.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>

  <script>
  $(function() {
    var socket = io();

    $('#file').change(function(e) {
      var file = e.target.files[0];
      var stream = ss.createStream();

      // upload a file to the server.
      ss(socket).emit('file', stream, {size: file.size,name:'itsYourBoy.jpg'});
      ss.createBlobReadStream(file).pipe(stream);
      var blobStream = ss.createBlobReadStream(file);
var size = 0;

blobStream.on('data', function(chunk) {
  size += chunk.length;
  console.log(Math.floor(size / file.size * 100) + '%');
  // -> e.g. '42%'
});

blobStream.pipe(stream);  
    });
  });


  </script>



</body>
</html>
